@charset "UTF-8";

body{
    background: lightskyblue;
    font: normal 15pt arial;
}

header{
    color: aliceblue;
    text-align: center;
}

section{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
}

img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    align-self: center;

}


footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;
}

